body {
  margin: 0;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1.5px white;
}


.spotlight-text {
  position: relative;
  color: white;
  z-index: 1;
}

.spotlight-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, #8076F4 0%, transparent 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: blur(8px) brightness(1.5);
  z-index: -1;
  pointer-events: none;
}